.apexcharts-xaxis-texts-g text,
.apexcharts-yaxis-texts-g text {
  fill: #adb5be !important;
}

.apexcharts-legend .apexcharts-legend-series .apexcharts-legend-text {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.apexcharts-legend-series {
  margin: 0 20px !important;
}

.apexcharts-legend-marker {
  margin-right: 10px !important;
}
