.file_image {
  display: inline-table;
  position: relative;
  border: 1px solid #ededf5;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  margin: 20px;

  img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
  }

  .file_name {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.file_image_lg {
  height: 200px;
  width: 200px;

  img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
  }
}

.avatar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  width: 36px;
}

.avatar_md {
  font-size: 20px !important;
  height: 48px !important;
  width: 48px !important;
}
