.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-body-gray);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 0.78rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

.btn_primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  color: #ffffff;
}

.btn_info {
  background-color: #4ec2f0;
  border-color: #6cc1e2;
  color: #ffffff;
}

.btn_danger {
  background-color: #f34343;
  border-color: #f35959;
  color: #ffffff !important;
}

.btn_success {
  background-color: #24d5b8;
  border-color: #24d5b8;
  color: #ffffff;
}

.btn_sm {
  border-radius: 0.2rem;
  font-size: 0.725rem !important;
  padding: 0.28rem 0.51rem !important;
}

.btn_block {
  display: block;
  width: 100%;
}

.btn:disabled,
.btn.disabled {
  opacity: 0.65;
  pointer-events: none;
}
