.dropdown {
  position: relative;
}

.main_profile_menu .dropdown_menu {
  position: absolute;
  display: none;
  border-radius: 0;
  border: 1px solid #ededf5 !important;
  bottom: auto;
  left: auto;
  padding: 0;
  right: 0;
  top: 0;
  width: 230px;
  z-index: 900;
  background-color: #ffffff;

  &.show {
    display: block;
    top: 48px;
  }

  &:before {
    content: "";
    position: absolute;
    background: #ffffff;
    border-left: 1px solid #e9edf4;
    border-top: 1px solid #e9edf4;
    height: 13px;
    right: 15px;
    top: -7px;
    transform: rotate(45deg);
    width: 13px;
  }
}

.dropdown_item {
  display: block;
  background: transparent;
  border: 0;
  font-weight: 400;
  font-size: 13px;
  padding: 0.25rem 1.5rem;
  color: #323251;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
  clear: both;
}

.main_profile_menu .dropdown_item {
  display: flex;
  position: relative;
  align-items: center;
  color: #7a839b;
  font-size: 12px;
  height: 38px;
  padding: 20px 16px;

  &:hover {
    background: transparent;
    color: var(--primary-bg-color);
  }

  &:last-child {
    margin-bottom: 10px;
  }

  i {
    width: 24px;
    font-size: 17px;
    margin-right: 10px;
    text-align: center;
  }
}

.main_profile_menu .dropdown_item + .dropdown_item {
  border-top: 1px solid #e2eaf9;
}
