.form__with_label {
  label {
    display: inline-block !important;
    padding: 0;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    line-height: 1;
  }

  &.form__right_icon label {
    width: calc(100% - 36px) !important;
  }
}

.form_control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-darker);
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &.rounded {
    border-radius: .5rem !important;
  }
}

.form_control_sm {
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form__container {
  max-width: 400px !important;
  width: 100%;
  margin: 0 auto;

  form {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .form__wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 6% 0 6% 6%;
    background: #ffffff;
    color: #444444;
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
    box-shadow: 0 0 0 0.5px rgb(0 20 40 / 10%), 0 2px 8px 0 rgb(50 55 90 / 20%);
    border-radius: 10px;
    margin: 0 auto;
  }

  .form__wrapper .form__wrapper_headline {
    font-size: 20px;
    font-weight: 700;
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center;
    margin-right: 6.387%;
  }

  .form__wrapper .form__field_wrap,
  .form__wrapper .form__field_button_wrap {
    display: inline-block;
    padding: 0 6.387% 4% 0;
    width: 100%;
    vertical-align: top;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .form__field_button_wrap input[type=submit] {
    border: 0;
    line-height: 1;
    padding: 20px 10px;
    transition: .15s ease-in-out;
    border-radius: 6px !important;
    font-family: "IBM Plex Sans", sans-serif;
    width: 100%;
    min-width: 110px;
    text-align: center;
  }

  .form__wrapper .form_field_input {
    position: relative;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .form__wrapper .form_field {
    display: inline-block;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    color: #69717a;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.3;
    min-height: 40px;
    margin: 0;
    padding: 10px 40px 10px 15px;
    border-radius: 6px !important;
    transition: all .35s;
  }

  .form__wrapper .form_field_input i {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 12px 0 0;
    color: #666666;
    font-size: 16px;
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
  }

  .form__bottom_links {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  .form__bottom_links a {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #69717a !important;
    text-decoration: none !important;
    font-weight: 400;
    text-align: center;
    border-bottom: none !important;
  }
}