.form__with_label {
  label {
    display: inline-block !important;
    padding: 0;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    line-height: 1;
  }

  &.form__right_icon label {
    width: calc(100% - 36px) !important;
  }
}

.form_control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-darker);
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &.rounded {
    border-radius: .5rem !important;
  }
}

.form_control_sm {
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}