body.dark_theme {
  background: #383d52;
  color: #eaecf3;
}

.dark_theme {
  a {
    color: #faf9fa !important;
  }

  .table_button {
    color: var(--color-body-gray) !important;
  }

  .dark_layout {
    display: none;
  }

  .light_layout {
    display: block;
  }

  .header_icon {
    color: #a9abbd;
  }

  .main_content_title {
    color: #ffffff;
  }

  .main_header {
    background: #2a2e3f;
    border-bottom: 1px solid #484863;
    box-shadow: none;
  }

  .nav_item .nav_link {
    background: transparent;
  }

  .header_icon_svg {
    fill: #a9abbd;
  }

  .main_profile_menu .profile_user img {
    background: #141432;
    box-shadow: 0 1px 6px 0 #3b3b3b;
  }

  .sidebar {
    background: #2a2e3f;
    border-right: 1px solid #484863;
    border-top: 0;
    box-shadow: 0 0 10px rgb(20 28 43 / 80%);
  }

  .sidebar_right {
    background: #2a2e3f;
    border-left: 1px solid #3d4152;
    box-shadow: 5px 7px 26px -5px #171a21 !important;
  }

  .sidebar_right .tab_menu_heading {
    background: hsla(0, 0%, 100%, .05);
  }

  .sidebar_right .tabs_menu .nav_item a {
    display: inline-block;
    background: var(--primary-color);
    border: 1px solid #484863;
    border-radius: 3px;
    color: #4a4a69;
    font-size: 12px;
    font-weight: 500;
    margin: 0 2px;
    padding: 8px;
  }
  
  .sidebar_right .tabs_menu .nav_item a.active {
    background-color: var(--primary-bg-color);
  }

  .nav.panel_tabs .side_menu__icon {
    fill: #a9abbd;
    color: #a9abbd;
  }

  .nav.panel_tabs .active .side_menu__icon {
    fill: #ffffff !important;
  }
   
  .main_sidebar_header {
    background: #2a2e3f;
    border-bottom: 1px solid #484863;
    border-right: 1px solid #484863;
  }

  .sidebar .side_item.side_item_category {
    color: #c5cfcd;
  }

  .side_menu .slide .side_menu__item.active {
    background-color: transparent;
  }

  .side_menu .slide .side_menu__item .side_menu__label {
    fill: #a9abbd;
    color: #a9abbd;
  }

  .side_menu .slide .side_menu__item.active .side_menu__label {
    color: #eaecf3 !important;
  }

  .side_menu .side_menu__icon {
    fill: #bfc8de;
    color: #bfc8de;
  }

  .card {
    background-color: #2a2e3f !important;
    box-shadow: 0 0 10px rgb(28 39 60 / 10%);
  }

  .card_header,
  .card_footer {
    position: relative;
    border-color: #484863;
  }

  .card_footer {
    background-color: #2a2e3f;
  }

  .card_header {
    background-color: #2a2e3f;
    border-bottom: 0;
  }

  .card_title {
    color: #bfc1d4;
  }

  .border_end {
    border-right: 1px solid #3c3c60 !important;
  }

  .border_bottom {
    border-bottom: 1px solid rgba(234, 236, 241, 0.1) !important;
  }

  .border {
    border: 1px solid rgba(234, 236, 241, 0.1) !important;
  }

  .text_muted {
    color: hsla(0, 0%, 100%, .6) !important;
  }

  .table {
    border: 1px solid #3c3f50;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .table_bordered {
    border: 1px solid rgba(234, 236, 241, 0.1) !important;
  }

  .table_bordered td,
  .table_bordered th {
    border: 1px solid rgba(234, 236, 241, 0.1);
    background-color: #2a2e3f;
  }

  .table thead th {
    border-bottom: 1px solid #484863;
    border-top: 0 !important;
    color: #ffffff;
  }

  .table td,
  .table th {
    border-top: 1px solid #484863;
  }

  .table > :not(:last-child) > :last-child > * {
    border-bottom-color: #3c3f50;
  }

  .table tbody tr {
    background-color: #2a2e3f;
  }

  .table_responsive select {
    color: #ffffff;
    border-radius: 5px;
    background: #383d52;
  }

  .form_control {
    background-color: #2a2e3f;
    border: 1px solid #484863 !important;
    color: #c0c2c7;
  }

  .form_label {
    color: #cfdaec;
  }

  .table_responsive span input {
    border: 1px solid #555c6e !important;
  }

  .main_footer {
    background-color: #2a2e3f;
    border-top: 1px solid #484863;
  }

  .file_image {
    border: 1px solid #484863;
  }

  .dropdown_menu {
    background-color: #272738;
    color: #ffffff;
    border: 1px solid #484863 !important;
  }

  .dropdown_item {
    color: #ffffff !important;
  }

  .dropdown_menu:before {
    background: #272738;
    border-left: 1px solid #484863;
    border-top: 1px solid #484863;
  }

  .main_profile_menu .dropdown_item + .dropdown_item {
    border-top: 1px solid rgba(226, 234, 249, 0.2);
  }

  .main_nav_column .nav_item {
    color: var(--primary-bg-color) !important;
  }

  .custom__control_label:before {
    background-color: #141524;
    border: 1px solid #3c4358;
  }

  .custom__control_input:checked ~ .custom__control_label:before {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    color: #ffffff;
  }

  .sidenav_toggled_open .side_menu__label {
    color: #a9abbd;
  }

  .apexcharts-legend-text {
    color: #eaecf3 !important;
  }

  .apexcharts-menu-icon svg {
    fill: #a9abbd;
  }

  .apexcharts-menu {
    background: #2a2e3f;
    border: 1px solid #484863;
  }

  .apexcharts-menu-item:hover {
    background: #2a2e3f !important;
  }

  .apexcharts-tooltip {
    background: #2a2e3f !important;
    border: 1px solid #484863 !important;
    color: #ffffff !important;
  }

  .apexcharts-tooltip-title {
    background: #2a2e3f !important;
    border-bottom: #484863 !important;
    color: #ffffff !important;
  }

  .tab_menu_heading {
    border-bottom: 0 solid #e9edf4 !important;
  }

  .notification_pagination a.btn_np {
    border: 1px solid var(--primary-color);
  }

  .main_notifications_list {
    border: 1px solid #484863;
  }

  .main_notification_item {
    border-bottom: 1px solid #484863;
    border-top: 1px solid #484863;
  }

  .main_notification_subject strong  {
    color: hsla(0, 0%, 100%, .7);
  }

  .main_notification_subject span  {
    color: hsla(0, 0%, 100%, .6);
  }

  .pagination .page_link {
    border: 1px solid rgba(226, 232, 245, .2);
    background-color: #2a2e3f;
    color: #fff;
  }

  .pagination .page_item.disabled .page_link {
    background: #383d52 !important;
    border-color: #3c465d;
    color: #555d6f;
  }

  .bg_secondary {
    background-color: #f74f75 !important;
  }
}

@media only screen and (min-width: 992px) {
  .dark_theme {
    .main_header {
      background: #2a2e3f;
      border-bottom: 1px solid #484863;
      box-shadow: none;
    }
  }
}
