:root {
  --color-body-gray: #414169;
  --primary-bg-color: #38cab3;
  --color-input: #9393b5;
  --icon-gray: #7b8191;
  --primary-color: rgba(23, 211, 183, 0.2);
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
}
