.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  &.no_center {
    justify-content: unset;
  }
}

.container,
.container_fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: 0;
}

.row_sm {
  margin-left: -10px;
  margin-right: -10px;
}

.row_sm > div {
  padding-left: 10px;
  padding-right: 10px;
}

.justify_content_center {
  justify-content: center !important;
}

.align_items_center {
  align-items: center !important;
}

.align_self_center {
  align-self: center !important;
}

.overflow_hidden {
  overflow: hidden !important;
}

.mt_auto,
.my_auto {
  margin-top: auto !important;
}

.mr_auto,
.mx_auto {
  margin-right: auto !important;
}

.mb_auto,
.mx_auto {
  margin-bottom: auto !important;
}

.ml_auto,
.mx_auto {
  margin-left: auto !important;
}

.mt_0,
.my_0 {
  margin-top: 0 !important;
}

.mb_0,
.my_0 {
  margin-bottom: 0 !important;
}

.mr_1,
.mx_1 {
  margin-right: 0.25rem !important;
}

.mt_1,
.my_1 {
  margin-top: 0.25rem !important;
}

.mb_1,
.my_1 {
  margin-bottom: 0.25rem !important;
}

.mr_2,
.mx_2 {
  margin-right: 0.5rem !important;
}

.mb_2,
.my_2 {
  margin-bottom: 0.5rem;
}

.mb_3,
.my_3 {
  margin-bottom: 1rem !important;
}

.mt_3,
.my_3 {
  margin-top: 1rem !important;
}

.ml_3,
.mx_3 {
  margin-left: 1rem !important;
}

.mb_4,
.my_4 {
  margin-bottom: 1.5rem !important;
}

.mt_4,
.my_4 {
  margin-top: 1.5rem !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.p_0 {
  padding: 0 !important;
}

.p_3 {
  padding: 1rem !important;
}

.pl_0,
.px_0 {
  padding-left: 0 !important;
}

.pr_0,
.px_0 {
  padding-right: 0 !important;
}

.pb_0,
.py_0 {
  padding-bottom: 0 !important;
}

.pt_0,
.py_0 {
  padding-top: 0 !important;
}

.pl_3,
.px_3 {
  padding-left: 1rem !important;
}

.pr_3,
.px_3 {
  padding-right: 1rem !important;
}

.pt_3,
.py_3 {
  padding-top: 1rem !important;
}

.pb_3,
.py_3 {
  padding-bottom: 1rem !important;
}

.pt_4,
.py_4 {
  padding-top: 1.5rem !important;
}

.pb_4,
.py_4 {
  padding-bottom: 1.5rem !important;
}

.pl_4,
.px_4 {
  padding-left: 1.5rem !important;
}

.w_100 {
  width: 100%;
}

.h_100 {
  height: 100%;
}

.op_6 {
  opacity: 0.6;
}

.font_semibold {
  font-weight: 500 !important;
}

.float_end {
  float: right !important;
}

.d_flex {
  display: flex !important;
}

.d_block {
  display: block !important;
}

.d_none {
  display: none !important;
}

.p_relative {
  position: relative !important;
}

.border_end {
  border-right: 1px solid #ededf5 !important;
}

.border_bottom {
  border-bottom: 1px solid #ededf5 !important;
}

.border {
  border: 1px solid #ededf5 !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09) !important;
}

.text_center {
  text-align: center;
}

.text_nowrap {
  white-space: nowrap !important;
}

.tx_12 {
  font-size: 12px;
}

.tx_15 {
  font-size: 15px;
}

.tx_18 {
  font-size: 18px !important;
}

.fade {
  transition: opacity 0.15s linear;
}

.main_body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.pulse {
  display: block;
  background: #24d5b8;
  height: 7px;
  right: 8px;
  top: 6px;
  width: 7px;
}

.pulse,
.pulse:before {
  position: absolute;
  border-radius: 50%;
}

.pulse:before {
  content: "";
  cursor: pointer;
  height: 15px;
  width: 15px;
  right: -4px;
  top: -4px;
  box-shadow: 0 0 0 rgb(34 192 60 / 90%);
  background: rgba(34, 192, 60, 0.6);
  animation: pulse 1s linear infinite;
}

.main_content {
  margin-bottom: 0 !important;
  min-height: calc(100vh - 160px) !important;
  transition: margin-left 0.32s ease;

  .container,
  .container_fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main_content_title {
    position: relative;
    color: #323251;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 20px;
    text-indent: -1px;
  }

  .main_content_left {
    position: relative;
    width: 100%;
    flex-shrink: 0;
  }

  .main_content_left.main_content_left_setting.card_body {
    padding: 1.25rem;
  }

  .main_content_left.main_content_left_setting .btn_compose {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 500;
    height: 38px;
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding: 0 20px;
    text-transform: uppercase;
  }

  .main_menu {
    position: relative;
    padding-right: 0;
  }

  .main_content_label {
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .main_content_label_sm {
    font-size: 10px;
    font-weight: 600;
    color: #949eb7;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .main_nav_column {
    flex-direction: column;

    .nav_link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--icon-gray);
      height: 38px;
      padding: 7px 14px;
    }

    .nav_link.active {
      position: relative;
      border-radius: 5px;
      background: var(--primary-color);
      color: var(--primary-bg-color);
    }
  }
}

.content {
  padding: 0 !important;
}

@media (min-width: 576px) {
  .container,
  .container_sm {
    max-width: 540px;
  }

  .container {
    max-width: 540px;
  }

  .d_sm_flex {
    display: flex !important;
  }

  .d_sm_inline {
    display: inline !important;
  }

  .ml_sm_auto {
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .container,
  .container_md,
  .container_sm {
    max-width: 720px;
  }

  .container {
    max-width: 720px;
  }

  .d_md_flex {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .container,
  .container_lg,
  .container_md,
  .container_sm {
    max-width: 960px;
  }

  .container {
    max-width: 960px;
  }

  .ps_lg_2,
  .px_lg_2 {
    padding-left: 0.5rem !important;
  }

  .sticky {
    width: 100%;
  }

  .main_content {
    margin-left: 240px;
    padding-top: 80px !important;

    .main_content_title {
      margin-bottom: 40px;
    }

    .main_content_left {
      display: block;
      padding: 0;
    }

    .main_content_left .btn_compose {
      margin-right: 0;
    }

    .main_menu {
      padding-right: 0;
    }

    .main_menu .nav_link {
      font-size: 13.5px;
    }
  }
}

@media (min-width: 1200px) {
  .container,
  .container_lg,
  .container_md,
  .container_sm {
    max-width: 1140px;
  }

  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container_lg,
  .container_md,
  .container_sm {
    max-width: 1320px;
  }
}
