.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem;
}

.navbar_expand {
  justify-content: flex-start;
}

.side_header {
  display: flex;
  position: sticky;
  width: 100%;
  z-index: 10 !important;
  border-bottom: 1px solid #ededf5;
  transition: left 0.32s ease;
}

.main_header {
  position: fixed;
  width: 100% !important;
  z-index: 1025 !important;
  background: #ffffff;
  border-bottom: 1px solid #ededf5;
  box-shadow: 0 7px 26px rgb(154 154 204 / 10%);
  height: 64px;
  margin-bottom: 20px;
}

.main_header > .container,
.main_header > .container_fluid {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  flex-wrap: nowrap;
}

.main_header_left,
.main_header_right {
  display: flex;
  align-items: center;
}

.sidebar__toggle {
  display: block;
  position: relative;
  text-align: center;
  color: var(--icon-gray);
  font-size: 22px;
  height: 39px;
  width: 39px;
  line-height: 21px;
  margin: auto;
  outline: none;
  transition: background-color 0.32s ease;
  z-index: 1;

  .close_toggle {
    display: none;
  }

  .close_toggle .header_icon {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header_icon {
  border: 0 solid #eae3f3;
  border-radius: 25px;
  color: var(--icon-gray);
  height: 30px;
  width: 30px;
  font-size: 1.3rem !important;
  line-height: 1.8 !important;
  text-align: center;
}

.navbar_collapse {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}

.nav_link {
  display: block;
  padding: 0.2rem 0 0 0.2rem;
  transition: color 0.3s;
  cursor: pointer;
}

.nav_with_icons .nav_link {
  display: block;
  position: relative;
  color: var(--primary-color);
  border-radius: 25px;
  font-size: 22px;
  height: 37px;
  width: 37px;
  line-height: 33px;
  text-align: center;
  margin: auto 6px !important;
  padding: 0;
  outline: none;
}

.header_icon_svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-gray);
  color: var(--icon-gray);
}

.main_profile_menu.nav_item {
  display: block;
  margin: auto 2px;
  padding: 0 !important;
}

.main_profile_menu .profile_user img {
  border-radius: 50%;
  height: 37px;
  width: 37px;
  margin-left: 0;
  box-shadow: 0 4px 15px 0 #dbe4f9;
}

.sidebar_right {
  position: fixed;
  background: #ffffff;
  border-left: 1px solid #ededf5;
  box-shadow: 0 18px 36px 10px rgb(154 154 204 / 10%);
  height: 100%;
  bottom: 0;
  top: 0;
  width: 320px;
  z-index: 9999;
  transform: translate(100%);

  &.sidebar_open {
    transform: translate(0);
  }

  .card {
    border: 0 !important;
  }

  .tab_menu_heading {
    display: flex;
    position: fixed;
    background: #f9f9fb;
    margin-bottom: 27px;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .tab_menu_body {
    margin-top: 56px;
  }

  .nav.panel_tabs {
    padding: 15px;
  }

  .nav.panel_tabs .side_menu__icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
  }

  .tabs_menu .nav_item a {
    display: inline-block;
    background: transparent;
    border: 1px solid #ebeaf1;
    border-radius: 3px;
    color: #4a4a69;
    font-size: 12px;
    font-weight: 500;
    margin: 0 2px;
    padding: 8px;
  }

  .tabs_menu .nav_item a.active {
    background: var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);
    color: #ffffff;
  }

  .avatar_md {
    font-size: 15px !important;
    height: 40px !important;
    width: 40px !important;
  }

  .list a {
    color: #4a4a69;
  }

  .tab_pane b {
    font-weight: 500;
  }

  .card .card_title:before {
    content: none;
  }
}

.sidebar {
  position: fixed;
  background: #ffffff;
  border-right: 1px solid #ededf5;
  bottom: 0;
  box-shadow: 0 8px 14.72px 1.28px rgb(154 154 204 / 10%);
  color: #14112d;
  left: 0;
  top: 0;
  max-height: 100%;
  transition: left 0.32s ease, width 0.32s ease;
  z-index: 1024;

  .side_item.side_item_category {
    color: var(--icon-gray);
    font-size: 11px;
    height: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    font-weight: 500;
    opacity: 0.6;
    padding: 0 20px 0 25px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .side_item.side_item_category:not(:first-child) {
    margin-top: 25px;
  }
}

.sidebar_right {
  right: 0;
}

.sidebar_animate {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
}

.sidebar_mini {
  .sidebar {
    width: 240px !important;
  }

  .side_menu {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &.sidenav_toggled .open_toggle {
    display: none;
  }

  &.sidenav_toggled .close_toggle {
    display: block;
    color: #000;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
  }
}

.sidenav_toggled .side_menu .side_menu__icon {
  margin-left: 0;
  margin-right: 0;
}

.main_sidebar_header {
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid #ededf5;
  border-right: 1px solid #ededf5;
  height: 64px;
  width: 240px;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  outline: none;
  padding: 12px 20px;
  transition: left 0.32s ease, width 0.32s ease;
}

.main_sidebar_menu {
  height: 90%;
  margin-top: 85px;

  .side_menu {
    transition: left 0.32s ease, width 0.32s ease;
  }
}

.side_menu {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.slide {
  margin: 0;
}

.side_menu__item {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
}

.side_menu {
  .slide .side_menu__item {
    padding: 10px 91px 10px 30px;
    margin: 0;
    border-radius: 0;
  }

  .side_menu__icon {
    fill: var(--icon-gray);
    color: var(--icon-gray);
    border-radius: 2px;
    font-size: 16px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
  }

  .side_menu__icon.side_menu__icon_sm {
    height: 15px;
    width: 15px;
  }

  .side_menu__item.active .side_menu__icon {
    fill: var(--primary-bg-color) !important;
    color: var(--primary-bg-color) !important;
  }

  .side_menu__label {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--icon-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    flex: 1 1 auto;
    vertical-align: middle;
    white-space: nowrap;
  }

  .side_menu__item.active .side_menu__label {
    color: #4a4a69 !important;
    font-weight: 600;
  }

  i.angle {
    position: absolute;
    color: #9ca2a9 !important;
    font-size: 15px;
    right: 20px;
    top: 13px;
    transform-origin: center;
  }

  .side_menu__item.is_expanded i.angle {
    position: absolute;
    font-size: 11px;
    right: 20px;
    top: 16px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

@media (min-width: 992px) {
  .main_header {
    position: fixed;
    left: 0;
    padding-left: 250px;
    width: 100% !important;
    z-index: 1000 !important;
  }

  .side_header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 240px;
    z-index: 1;
  }

  .main_header > .container,
  .main_header > .container_fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .main_img_user {
    display: inline-block;
    position: relative;
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 100%;

    img {
      border-radius: 100%;
      object-fit: cover;
      height: 100% !important;
      width: 100% !important;
    }
  }

  .menu_header_content {
    padding: 1.2rem;
  }

  .navbar_expand_lg {
    justify-content: flex-start;
  }

  .navbar_expand_lg .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar_expand_lg.navbar_responsive .navbar_collapse {
    display: flex !important;
    background: transparent;
    flex-basis: auto;
  }

  .sidenav_toggled .sidebar {
    left: 0;
    width: 80px !important;
  }

  .sidenav_toggled_open .sidebar {
    left: 0;
    width: 240px !important;
  }

  .sidenav_toggled .main_header {
    padding-left: 80px !important;
  }

  .sidenav_toggled_open .main_sidebar_header {
    width: 240px !important;
  }

  .sidenav_toggled .main_sidebar_header {
    width: 80px;
  }

  .sidenav_toggled .side_menu {
    margin-top: 0;
  }

  .sidenav_toggled .side_item.side_item_category {
    display: none;
  }

  .sidenav_toggled_open .side_item.side_item_category {
    display: block;
  }

  .sidenav_toggled .side_menu__item {
    display: block;
    margin: 0 auto;
    padding: 11px 0;
    border-left: 0;
    text-align: center;
  }

  .sidenav_toggled_open .side_menu__item {
    display: flex;
    align-items: center;
    border-radius: 0;
    margin: 0 !important;
    padding: 10px 20px 10px 22px !important;
    text-align: left;
  }

  .sidenav_toggled .side_menu .side_menu__icon {
    line-height: 19px;
  }

  .sidenav_toggled_open .side_menu .side_menu__icon {
    margin-right: 12px;
  }

  .sidenav_toggled .side_menu__label {
    display: none !important;
    position: relative;
    background: transparent;
    box-shadow: none;
    color: #7b8191;
    font-size: 12px;
    line-height: 1;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    border-bottom-right-radius: 0;
  }

  .sidenav_toggled_open .side_menu__label {
    display: block !important;
    position: static;
    color: #7b8191;
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    opacity: 1;
    vertical-align: middle;
    white-space: normal;
  }

  .sidenav_toggled .main_content {
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .main_header {
    box-shadow: 0 0 10px rgba(5, 6, 9, 0.8) !important;
  }

  .sidebar {
    top: 64px;
    left: -240px;
    z-index: 1024 !important;
  }

  .main_content {
    padding-top: 80px !important;
    min-width: 100%;
  }

  .main_footer {
    padding: 0.9rem 1rem 0.9rem 10px;
  }

  .sidenav_toggled .sidebar {
    left: 0;
  }

  .main_sidebar_menu {
    margin-top: 20px;
  }

  .side_menu {
    margin-left: 0 !important;
  }

  .sidenav_toggled .side_menu .side_menu__icon {
    margin-left: 0;
    margin-right: 13px !important;
  }
}

.light_layout {
  display: none;
}
