.col, .col_1, .col_10, .col_11, .col_12, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_auto, .col_lg, .col_lg_1, .col_lg_10, .col_lg_11, .col_lg_12, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_auto, .col_md, .col_md_1, .col_md_10, .col_md_11, .col_md_12, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_auto, .col_sm, .col_sm_1, .col_sm_10, .col_sm_11, .col_sm_12, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_auto, .col_xl, .col_xl_1, .col_xl_10, .col_xl_11, .col_xl_12, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col_2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col_5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col_6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col_12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col_auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-height: 100%;
}

.order_1 {
  -ms-flex-order: 1;
  order: 1;
}

.order_2 {
  -ms-flex-order: 2;
  order: 2;
}

.col_sticky_top {
  position: sticky !important;
  top: calc(70px + 2rem);
  z-index: 1;
}

@media (min-width: 576px) {
  .col_sm_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col_md_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col_md_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col_md_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 992px) {
  .col_lg_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col_lg_5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col_lg_7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .order_lg_1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .order_lg_2 {
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (min-width: 1200px) {
  .col_xl_2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col_xl_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col_xl_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col_xl_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col_xl_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col_xl_9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}