.navigation_sticky_top {
  position: sticky !important;
  top: calc(70px + 1rem);
  z-index: 1;
}

.scrollbar_sidenav {
  height: calc(100vh - 4rem);
}

.page__content {
  width: 100%;
  padding: 1rem;
  min-height: calc(100vh - 70px);
}

@media only screen and (min-width: 1699px) {
  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 0vw);
    max-width: 100vw;
  }
}

@media only screen and (max-width: 1385px) {
  .navigation_sticky_top {
    position: unset;
  }

  .page__content {
    padding: 0;
  }
}