:root {
  --dark-body: #212529;
  --color-dark: #333;
  --color-dark-footer: #343a40;
  --color-secondary: #6c757d;
  --gray-color: #666;
  --hover-blue: #dfe7fd;
  --color-red: #dd3333;
  --color-gray-darker: #495057
}