<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ csrfToken }}" name="csrf-token">
    <title>Quiz - Admin Dashboard</title>
     <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- SCRIPTS -->
    @entryPointScripts('app')
    <!-- LINKS -->
    @entryPointStyles('app_css')
</head>
<body class="main_body sidebar_mini">
    <div class="page no_center">
        <div id="header">
            <nav class="main_header side_header nav navbar navbar_expand">
                <div class="main_container container_fluid">
                    <div class="main_header_left">
                        <div class="sidebar__toggle">
                            <a href="#">
                                <i class="header_icon fa fa-align-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="main_header_right">
                        <div class="mb_0 p_0 navbar_expand_lg navbar navbar_responsive">
                            <div class="collapse navbar_collapse">
                                <ul class="nav nav_with_icons">
                                    <li class="dropdown nav_item">
                                        <a href="#" class="nav_link">
                                            <div class="dark_layout">
                                                @include('../icons/moon-icon')
                                            </div>
                                            <div class="light_layout">
                                                @include('../icons/sun-icon')
                                            </div>
                                        </a>
                                    </li>
                                    <div class="dropdown nav_item d_flex">
                                        <button type="button" class="nav_link btn">
                                            @include('../icons/bell-icon.edge')
                                            <span class="pulse"></span>
                                        </button>
                                    </div>
                                    <div class="main_profile_menu nav nav_item ps_lg_2 dropdown dropdown__items">
                                        <button type="button" class="nav_link d_flex profile_user dropdown_toggle btn">
                                            <img src="https://react.spruko.com/nowa-ts/preview/static/media/2.3aeb713efd50cdbaf860.jpg" alt="">
                                        </button>
                                        <div class="dropdown_menu">
                                            <div class="menu_header_content p_3 border_bottom">
                                                <div class="d_flex w_100">
                                                    <div class="main_img_user">
                                                        <img src="https://react.spruko.com/nowa-ts/preview/static/media/2.3aeb713efd50cdbaf860.jpg" alt="">
                                                    </div>
                                                    <div class="ml_3 my_auto">
                                                        <div class="tx_15 font_semibold mb_0">Vincent Capek</div>
                                                        <span class="tx_12 op_6">Admin</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{{ route('settings.changeCredentials') }}" class="dropdown_item">
                                                <i class="far fa-sun"></i>
                                                Settings
                                            </a>
                                            <form action="{{ route('logout') }}" method="POST">
                                                {{ csrfField() }}
                                                <button role="button" class="dropdown_item">
                                                    <i class="far fa-arrow-alt-circle-left"></i>
                                                    Sign Out
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="sticky">
                <aside class="sidebar">
                    <div class="main_sidebar_header active">
                        <a href="#" class="header_logo active"></a>
                    </div>
                    <div class="main_sidebar_menu">
                        <ul class="side_menu">
                            <li class="side_item side_item_category">Main</li>
                            <li class="slide">
                                <a href="{{ route('dashboard') }}" class="side_menu__item is_expanded active">
                                    @include('../icons/home-icon.edge')
                                    <span class="side_menu__label">Dashboard</span>
                                </a>
                            </li>
                            <li class="side_item side_item_category">Quiz</li>
                            <li class="slide">
                                <a href="{{ route('quiz.index') }}" class="side_menu__item is_expanded">
                                    @include('../icons/list-icon.edge')
                                    <span class="side_menu__label">Listing</span>
                                </a>
                            </li>
                            <li class="slide">
                                <a href="{{ route('quiz.create') }}" class="side_menu__item is_expanded">
                                    @include('../icons/pencil-solid-icon.edge')
                                    <span class="side_menu__label">Create</span>
                                </a>
                            </li>
                            <li class="side_item side_item_category">Category</li>
                            <li class="slide">
                                <a href="{{ route('category.index') }}" class="side_menu__item is_expanded">
                                    @include('../icons/list-icon.edge')
                                    <span class="side_menu__label">Listing</span>
                                </a>
                            </li>
                            <li class="slide">
                                <a href="{{ route('category.create') }}" class="side_menu__item is_expanded">
                                    @include('../icons/pencil-solid-icon.edge')
                                    <span class="side_menu__label">Create</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        @!section('body')
        <div class="main_footer">
            <div class="text_center col_md_12 col_sm_12">
                <div class="container_fluid pt_0 h_100">
                    Copyright © 2022
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let darkLayout = document.querySelector('.dark_layout')
        let lightLayout = document.querySelector('.light_layout')
        let body = document.querySelector('body')

        // Default theme
        if (localStorage.getItem('isDarkMode') === "true") {
            body.classList.add('dark_theme')
        }

        // Active dark mode
        darkLayout.addEventListener('click', () => {
            body.classList.add('dark_theme')
            localStorage.setItem('isDarkMode', "true")
        })
        // Active light mode
        lightLayout.addEventListener('click', () => {
            body.classList.remove('dark_theme')
            localStorage.removeItem('isDarkMode')
        })
    </script>
    @!section('scripts')
</body>
</html>
